In [1]:
import pandas as pd

In [15]:
df = pd.concat(
    map(pd.read_csv, ['train-1.csv', 'train-2.csv', 'train-3.csv', 'train-4.csv', 'train-5.csv', 'train-6.csv', 'train-7.csv']), ignore_index=True)
print(df)

      Unnamed: 0     tconst                               primaryTitle  \
0              4  tt0010600                                   The Doll
1              7  tt0011841                              Way Down East
2              9  tt0012494                                    Déstiny
3             25  tt0015163                              The Navigator
4             38  tt0016220                   The Phantom of the Opera
...          ...        ...                                        ...
6961        9957  tt9580138  Mortal Kombat Legends: Scorpion's Revenge
6962        9958  tt9586294                                Better Days
6963        9969  tt9652782                                       Bait
6964        9983  tt9766294                              Fauji Calling
6965        9986  tt9784798                Judas and the Black Messiah

                                  originalTitle startYear endYear  \
0                                     Die Puppe      1919      \N
1                                 Way Down East      1920      \N
2                                  Der müde Tod      1921      \N
3                                 The Navigator      1924      \N
4                      The Phantom of the Opera      1925      \N
...                                         ...       ...     ...
6961  Mortal Kombat Legends: Scorpion's Revenge      2020      \N
6962                                        NaN      2019      \N
6963                                       Bait      2019      \N
6964                              Fauji calling      2021      \N
6965                Judas and the Black Messiah      2021      \N

     runtimeMinutes  numVotes  label
0                66    1898.0   True
1               145    5376.0   True
2                97    5842.0   True
3                59    9652.0   True
4                93   17887.0   True
...             ...       ...    ...
6961             80   16223.0   True
6962            135    8011.0   True
6963             89    4356.0   True
6964            134    2921.0  False
6965            126   65194.0   True

[6966 rows x 9 columns]

In [3]:
df

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True
...,...,...,...,...,...,...,...,...,...
6961,9957,tt9580138,Mortal Kombat Legends: Scorpion's Revenge,Mortal Kombat Legends: Scorpion's Revenge,2020,\N,80,16223.0,True
6962,9958,tt9586294,Better Days,NaN,2019,\N,135,8011.0,True
6963,9969,tt9652782,Bait,Bait,2019,\N,89,4356.0,True
6964,9983,tt9766294,Fauji Calling,Fauji calling,2021,\N,134,2921.0,False
6965,9986,tt9784798,Judas and the Black Messiah,Judas and the Black Messiah,2021,\N,126,65194.0,True

In [7]:
writing=pd.read_json(r'writing.json')
directing=pd.read_json(r'directing.json')

In [20]:
df_both = pd.merge(writing, directing,
                        how="left", on=["movie"])

In [10]:
df['startYear'] = df['startYear'].astype(int)

ValueError: invalid literal for int() with base 10: '\\N'

In [16]:
df['startYear'] = df['startYear'].replace('\\N', "")

In [17]:
df['startYear'] = df['startYear'].astype(int)

ValueError: invalid literal for int() with base 10: ''

In [18]:
writing

           movie     writer
0      tt0003740  nm0195339
1      tt0003740  nm0515385
2      tt0003740  nm0665163
3      tt0003740  nm0758215
4      tt0008663  nm0406585
...          ...        ...
22423  tt9904802  nm0942647
22424  tt9904802  nm3853396
22425  tt9911196  nm2063122
22426  tt9911196  nm0277932
22427  tt9911196  nm3547655

[22428 rows x 2 columns]

In [22]:
df_both

           movie     writer   director
0      tt0003740  nm0195339  nm0665163
1      tt0003740  nm0515385  nm0665163
2      tt0003740  nm0665163  nm0665163
3      tt0003740  nm0758215  nm0665163
4      tt0008663  nm0406585  nm0803705
...          ...        ...        ...
27883  tt9904802  nm0942647  nm0052054
27884  tt9904802  nm3853396  nm0052054
27885  tt9911196  nm2063122  nm0631590
27886  tt9911196  nm0277932  nm0631590
27887  tt9911196  nm3547655  nm0631590

[27888 rows x 3 columns]

In [ ]:
df_both = pd.merge(df, df_both,
                        how="left", on=["movie"])